@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

@layer components {
  ._selected {
    background-color: cadetblue;
    color: white;
  }
  ._highlighted {
    background-color: whitesmoke;
  }
  ._slider {
    -webkit-appearance: none;
    width: 100%;
    height: 1rem;
    border-radius: 0.5rem;
    background: white;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  ._slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    background: cadetblue;
    cursor: pointer;
  }
  ._slider::-moz-range-thumb {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    background: cadetblue;
    cursor: pointer;
  }
}
